In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
from statsmodels.stats.weightstats import ztest

In [13]:
#Reading the data set

In [3]:
data=pd.read_csv("dataset w7.csv")
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [5]:
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

# 1 Carry out descriptive analytics

In [6]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [7]:
data['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [8]:
data['Test preparation'].value_counts()

none         21
completed     7
Name: Test preparation, dtype: int64

In [9]:
data.groupby('Gender')['Total Marks'].mean()

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

In [10]:
data.groupby('Test preparation')['Total Marks'].mean()

Test preparation
completed    44.571429
none         28.238095
Name: Total Marks, dtype: float64

In [14]:
# There are 16 female and 12 male
# out of 28 only 7 completed the test preparation and 21 didn't
#The average total marks for females is 33.75 and it is greater than the average of males whisch is 30.41.
#The average total marks for those who completed test preparation is 44.57 and  for those who didn't take part is 28.23.

# 2 Check whether female and male students scored the same marks

In [15]:
# H0: Male and Female students score the same marks
# H1" Male and female students doesnt score same marks

In [26]:



Female = data[data["Gender"]=="female"][["Total Marks"]]
Male = data[data["Gender"] == "male"][["Total Marks"]]

t_score,p_value = ttest_ind(Male,Female)
print('Results are:', 'T-Score:', t_score, '  P Value:', p_value)

alpha = 0.05

if p_value > alpha:
    print("failing to reject the null hypothesis")
else:
    print("Rejecting the null hypothesis")

Results are: T-Score: [-0.69408853]   P Value: [0.49378223]
failing to reject the null hypothesis

In [16]:
# That is we accept the null hypothesis that is male and female students score the same marks.

# 3 Whether test preparation helps the students or not.

In [17]:
# H0:There is no significant difference between the scores of students who completed test preparation and those who didnt.
# H1:There is a significant difference between the scores of students who completed test preparation and those who didnt.

In [28]:

alpha=.05

Completed = data[data["Test preparation"]=="completed"][["Total Marks"]]
not_completed= data[data['Test preparation']=="none"][["Total Marks"]]

t_score1,p_value1 = ttest_ind(Completed,not_completed)
print('Results are:', 'T-Score:', t_score1, '  P Value:', p_value1)
if p_value > alpha:
    print("failing to reject the null hypothesis")
else:
    print("Rejecting the null hypothesis")

Results are: T-Score: [3.61436375]   P Value: [0.00126713]
failing to reject the null hypothesis

In [18]:
# That is we accept the alternative hypothesis which means there is significant difference between the marks of students who completed test preparation and who didnt